<form #contactForm = "ngForm" (ngSubmit) = "onSubmit(contactForm)">
  <div>
  <label for  = "firstname" > First Name </label>
    <input type = "text" id = "firstname" name = "firstname" [(ngModel)]="Employee.firstname" >
  </div>
  <br>
  <div>
  <label for  = "lastname" > Last Name </label>
    <input type = "text" id = "lastname" name = "lastname" [(ngModel)]="Employee.lastname" ></div>
  <br>
  <div>
  <label for = "email">Email</label>
    <input type="email" id = "mail" name= "mail" [(ngModel)]="Employee.email">
  </div>
  <br>
  <div>
  <label for="city">City</label>
  <input type="text" name="city" ngModel>
  </div>
<br>
<div>
  <label for="street">Street</label>
  <input type="text" name="street" ngModel>
</div><br>
<div>
  <label for="pincode">Pin Code</label>
  <input type="text" name="pincode" ngModel>
</div>
<br>
  <div class="btn">
  <button type = "submit"  > submit </button>
  <button type="button" (click)="onReset(contactForm)" >Reset</button>
</div>
</form>

  <pre>Value : {{contactForm.value | json }} </pre>
<pre>Valid : {{contactForm.valid}} </pre>
<pre>Touched : {{contactForm.touched  }} </pre>
<pre>Submitted : {{contactForm.submitted  }} </pre>
<pre>{{ Employee.firstname }}</pre>
<router-outlet></router-outlet>