<div class="container px-4" style="padding-top: 250px;">
<form class="row row-cols-lg-auto g-3 align-items-center" style="width:100%;">
<div class="row gx-5" style="width:100%;">
    <div class="col">
      <div  class="p-3 border bg-light">
      <label class="visually-hidden" for="inlineFormSelectPref">Preference</label>
      <select class="form-select" id="fromselect">
        <option selected>From.....</option>
        <option value="1">Chennai</option>
        <option value="2">Tiruneleli</option>
        <option value="3">Bangalore</option>
        <option value="4">Salem</option>
      </select>
      </div>
    </div>
    <div class="col">
        <div  class="p-3 border bg-light">
        <label class="visually-hidden" for="inlineFormSelectPref">Preference</label>
        <select class="form-select" id="toselect">
          <option selected>To.....</option>
          <option value="1">Chennai</option>
          <option value="2">Tiruneleli</option>
          <option value="3">Bangalore</option>
          <option value="4">Salem</option>
        </select>
        </div>
    </div>
    <div class="col" style="padding-top: 17px;">
      <button type="submit" class="btn btn-primary">Search Buses...</button>
    </div>
</div>
  </form>
</div>
  <!--<div class="container px-4">
    <div class="row gx-5">
      <div class="col">
       <div class="p-3 border bg-light">Custom column padding</div>
      </div>
      <div class="col">
        <div class="p-3 border bg-light">Custom column padding</div>
      </div>
    </div>
  </div>-->