<div class="card-body">
<form name="form" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()" novalidate> 
  <div class="form-group">
    <label for="fname">First Name:</label>
    
    <input type="text" name="firstname" class="form-control" [(ngModel)]="model.firstname"
      #firstname = "ngModel" [ngClass]="{'is-invalid': f.submitted && firstname.invalid}"
        required minlength="3" maxlength="10">
        <div *ngIf="f.submitted && firstname.invalid" class="invalid-feedback">
          <div *ngIf="firstname.errors.required">firstname is required</div>
          <div *ngIf="firstname.errors.minlength">firstname must be atleast 3 characters</div>
          <div *ngIf="firstname.errors.maxlength">firstname must be at 10 characters</div>
        </div>
  </div>
  <br>
  <div class="form-group">
    <label for="lname">Last Name:</label>
    <input type="text" name="lastname" class="form-control" [(ngModel)]="model.lastname"
    #lastname = "ngModel" [ngClass]="{'is-invalid': f.submitted && lastname.invalid}"
      required minlength="3" maxlength="10">
      <div *ngIf="f.submitted && lastname.invalid" class="invalid-feedback">
          <div *ngIf="lastname.errors.required">lastname is required</div>
          <div *ngIf="lastname.errors.minlength">firstname must be atleast 3 characters</div>
          <div *ngIf="lastname.errors.maxlength">firstname must be at 10 characters</div>
        </div>
  </div>
  <br>
  <div class="form-group">
    <label for="lname">Email:</label>
    <input type="text" name="email" class="form-control" 
        [(ngModel)]="model.email" #email="ngModel" 
            [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required email>
      <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
        <div *ngIf="email.errors.required">Email is required</div>
        <div *ngIf="email.errors.email">Email must be a valid email address</div>
    </div>
  </div>
  <br>
  <div>
    <label for="gender">Gender:</label>
    <input type="radio" name="gender" value="female" [(ngModel)]="model.gender" #gender="ngModel" 
            [ngClass]="{ 'is-invalid': f.submitted && gender.invalid }" required gender>Female
    <input type="radio" name="gender" value="male" [(ngModel)]="model.gender" #gender="ngModel" 
            [ngClass]="{ 'is-invalid': f.submitted && gender.invalid }" required gender>Male
    <div *ngIf="f.submitted && gender.invalid" class="invalid-feedback">
      <div *ngIf="gender.errors.required">gender is required</div>
  </div>
  </div>
  <br>
  <div>
    <label for="isMarried">Marrital Status:</label>
    <input type="radio" name="isMarried" value="married" [(ngModel)]="model.isMarried" #isMarried="ngModel"
        [ngClass]="{'is-invalid': f.submitted && isMarried.invalid }"required marritalStatus>Married
    <input type="radio" name="isMarried" value="unmarried" [(ngModel)]="model.isMarried" #isMarried="ngModel"
    [ngClass]="{'is-invalid': f.submitted && isMarried.invalid }"required marritalStatus>UnMarried
    <div *ngIf="f.submitted && isMarried.invalid" class="invalid-feedback">
      <div *ngIf="isMarried.errors.required">gender is required</div>
  </div>
  </div>
  <br>
  <div>
    <label for="country">Country:</label>
    <select name="country" id="country" [(ngModel)]="country.isMarried" #country="ngModel"
          [ngClass]="{'is-invalid': f.submitted && country.invalid }"required country>
      <option [ngValue]="i.id" *ngFor="let i of listOfCountry">{{i.name}}</option>
    </select>
    <div *ngIf="f.submitted && country.invalid" class="invalid-feedback">
      <div *ngIf="country.errors.required">select country</div>
  </div>
  </div>
  <br>
  <div>
    <button type="submit">Submit</button>
  </div>
</form>
</div>
<br>
<pre>Value : {{f.value | json }} </pre>
<pre>Valid : {{f.valid}} </pre>
<pre>Touched : {{f.touched  }} </pre>
<pre>Submitted : {{f.submitted  }} </pre>

<router-outlet></router-outlet>