#login-form{
    
    margin: 50px auto;
    font-size: 15px;
    box-sizing: border-box;
    display: block;
    line-height: 2;
    float: right;
}
.card{
    width: 435px;
    float: right;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 5px;
}
label,.card-header{
    color:white;
}
