
<!--<div class="login-form">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <h2 class="text-center">Log in</h2>       
        <div class="form-group">
            <input type="text" placeholder="Username" required="required" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                <div *ngIf="f.username.errors.required">First Name is required</div>
            </div>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Password" required="required" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/> 
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is required</div>
                <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Log in</button>
        </div>        
    </form>
</div>-->

<div class="card m-3">
    <h5 class="card-header">Login Here</h5> 
    <div class="card-body" id="login-form">
        <div>{{signin_status}}</div>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-row">
                <div class="form-group col">
                    <label>UserName</label>
                    <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                        <div *ngIf="f.username.errors.required">User Name is required</div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-9">
                    <label>Password</label>
                    <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password required</div>
                        <div *ngIf="f.password.errors.email">Give a correct password</div>
                    </div>
                </div>
                <div class="form-group col-1" style="padding-top: 35px;">
                    <button class="btn btn-primary mr-1">Login</button>
                </div>
            </div>
            <hr style="color: white;">
            <div class="form-group col-8">
                <button class="btn btn-secondary" style="background-color: palegoldenrod; color: #000; width: 260px;border:none;" type="button" routerLink="register">Create New User</button>
            </div>
        </form>
    </div>
    </div>

<router-outlet></router-outlet>