ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li {
    display: inline;
     float: left;
  }
  a{
  width: 100%;
    display: block;
    padding: 8px;
   }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  li {
    float: left;
  }
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li a:hover {
    background-color: white;
    color: black;
  }