h1
{
    background-color: aqua;
    text-align: center;
}
p{
    background-color: blueviolet;
    border-radius: 10%;
}
#studenttable
{
    text-align: left;
    border-style: dashed;
    border-spacing: 0ch;
}
th{
    background-color: rgb(167, 137, 238);
    font-size: 20px;
}
tr:nth-child(even){
    background-color: cyan ;
}
tr:nth-child(odd){
    background-color: rgb(178, 130, 223);
}
label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-style: bold;
}