<h1>My First Angular App</h1>
<p>Hai to all</p>
My First Project Titile is {{title}}
<br>
My ans is {{ans}}
<br>
The no is{{no}}
<br>
<span *ngIf = "ans;else elseBlock"> Condition is true.</span>
<ng-template #elseBlock> condition is false.</ng-template>
<br>

<span *ngIf = "no>0;else zero"> Number is positive.</span>
<ng-template #zero>
    <span *ngIf = "no==0;else negative">Number is Zero</span></ng-template>
<ng-template #negative>Number is Negative</ng-template>
<br>

<div [ngSwitch]="no">
    <div *ngSwitchCase = "1">ONE</div>
    <div *ngSwitchCase = "2">TWO</div>
    <div *ngSwitchCase = "3">THREE</div>
    <div *ngSwitchCase = "4">FOUR</div>
    <div *ngSwitchCase = "5">FIVE</div>
    <div *ngSwitchDefault><h1>Wrong Input</h1></div>
</div>
<br>
Select Month<select>
<option *ngFor="let i of months">{{i}}</option></select>
<br>
<div *ngFor = "let i of name">{{i.fname + i.lname}}</div>
<br>

<table id="studenttable">
    <th>Name</th>
    <th>RollNo</th>
    <th>Percentage</th>
    <tr *ngFor="let i of details">
        <td>{{i.name}}</td>
        <td>{{i.rollno}}</td>
        <td>{{i.percentage}}</td>
    </tr>
</table>
<br>
<label>Select Your Hobbies</label>
<br>
<input type="radio" name="hobbies" value="playing" (change)="onchange($event)">Playing
<input type="radio" name="hobbies" value="driving" (change)="onchange($event)">Driving
<input type="radio" name="hobbies" value="reading" (change)="onchange($event)">Reading

<router-outlet></router-outlet>