.card-body{
    border: 1px dotted black;
    background-color: lightcoral;
    box-sizing: border-box;
    display: block;
    margin: 50px;
    width: 750px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    float: right;
}
