/* You can add global styles to this file, and also import other style files */
/*@import "~bootstrap/dist/css/bootstrap.css";*/
body{
    background-image: url("/assets/images/backgroundImg.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
