<!--<h1>My Web Project about Bus ticket booking</h1>-->

<nav class="navbar navbar-light">
  <ul >
    <div class="nav-item">
      <a id="title" class="nav-link active" aria-current="page" href="#">
        <img src="/assets/images/icon.jpg" width="100" height="50" class="d-inline-block align-top">
      </a>
    </div>
    <div class="nav-item">
      <a id="title" class="nav-link active" aria-current="page" href="https://www.facebook.com/">
        <img src="/assets/images/facebook.png" width="50" height="50" class="d-inline-block align-top">
      </a>
    </div>
    <div class="nav-item">
      <a id="title" class="nav-link active" aria-current="page" href="https://twitter.com/">
        <img src="/assets/images/twitter.png"  width="50" height="50" class="d-inline-block align-top">
      </a>
    </div>
    <div class="nav-item">
      <a id="title" class="nav-link active" aria-current="page" href="#" style="color: black;">About Us</a>
    </div>
    <div class="nav-item">
      <a id="title" class="nav-link active" aria-current="page" href="#" style="color: black;">Toll-Free</a>
    </div>
  </ul>
  
  <ul class="nav nav-tabs">
    <!--<div><li class="nav-item dropdown">
      <a id="title" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Manage Bookings</a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Show your Ticket</a></li>
        <li><a class="dropdown-item" href="#">Cancel Ticket</a></li>
      </ul>
    </li></div>-->
   <li class="nav-item">
      <a class="nav-link" routerLink="signin">Sign In</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="registration">Register</a>
    </li>
    <ul class="navbar-nav">
      <div><li class="nav-item dropdown">
        <a id="title" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">User</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" routerLink="signin">Sign In</a></li>
          <li><a class="dropdown-item" routerLink="registration">Register</a></li>
        </ul>
      </li></div>
  </ul>
  </ul>
</nav>
<router-outlet></router-outlet>
